		</section>
	</article>
</div>

<footer>
	<ul class="bnb">
		<li><a href="#">이용약관</a></li>
		<li><a href="#">개인정보처리방침</a></li>
		<li><a href="#">고객센터</a></li>
	</ul>
	<p class="copyright">© redpear Corp</p>
</footer>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">modal</h4>
			</div>
			<div class="modal-body">
				<div></div>
			</div>
		</div>
	</div>
</div>

<script src="../js/event.js"></script>